[Unit]
Description=Perform InfluxDB backup
After=network.target
StartLimitIntervalSec=0

[Service]
User=pi
Type=simple
Restart=on-failure
RestartSec=5
SyslogIdentifier=energy-monitor-backup
# TODO: use absolute docker path
ExecStart=docker exec energy-monitor-influxdb-1 /home/influxdb/scripts/backup.sh

[Install]
WantedBy=multi-user.target
