[Unit]
Description=Energy monitor influxdb and grafana services
After=network.target
StartLimitIntervalSec=0
Requires=docker.service

[Service]
User=pi
Type=simple
Restart=on-failure
RestartSec=5
SyslogIdentifier=energy-monitor-influxdb-grafana

#FIXME: requires that all the mounted volumes are full path, with the current implementation cannot find local folder
# FIXME: wrong location of docker binaruy
ExecStart=/usr/bin/docker compose -f $PWD/docker-compose.yaml up -d
ExecStop=/usr/bin/docker compose -f $PWD/docker-compose.yaml stop
ExecReload=/usr/bin/docker compose -f $PWD/docker-compose.yaml restart

[Install]
WantedBy=multi-user.target