[Unit]
Description=Timer to perform InfluxDB backup every hour

[Timer]
Persistent=true
OnBootSec=2min
OnUnitActiveSec=1h
Unit=energy-monitor-backup.service

[Install]
WantedBy=multi-user.target