[Unit]
Description=Energy collector python script
After=network.target
StartLimitIntervalSec=0
[Service]
User=pi
Type=simple
Restart=always
RestartSec=5
SyslogIdentifier=energy-collector
ExecStart=/usr/bin/python3 ${PWD}/energy-collector/energy_collector/app.py

[Install]
WantedBy=multi-user.target
