[Unit]
Description=Energy monitor influxdb and grafana services
After=network.target
StartLimitIntervalSec=0
Requires=docker.service

[Service]
User=pi
Type=simple
Restart=always
RestartSec=5
SyslogIdentifier=influx-db-grafana
ExecStart=docker compose -f $PWD/docker-compose.yaml up -d

[Install]
WantedBy=multi-user.target