[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "pywheels"

[packages]
certifi = "==2022.9.24"
influxdb-client = "==1.35.0"
minimalmodbus = "==2.0.1"
pyserial = "==3.5"
python-dateutil = "==2.8.2"
reactivex = "==4.0.4"
six = "==1.16.0"
timeloop = "==1.0.2"
typing-extensions = "==4.4.0"
urllib3 = "==1.26.13"

[dev-packages]
pytest = "==7.2.0"
pytest-mock = "==3.10.0"
freezegun = "==1.2.2"

[requires]
python_version = "3.9"
